<div class="wrapper">
  <div class="left-side">
    <% if @room.users.include?(current_user) %>
      <p>参加済み</p>
    <% else %>
      <%= link_to "参加する", join_room_path(@room) %>
    <% end %>

    <p>ルーム名：<%= @room.name %></p>
    <p>参加ユーザー数：<%= @room.users.count %></p>
    <p>＜参加ユーザー＞</p>
    <ul>
      <% @room.users.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="main">
    <div class="message-area">
    <ul>
      <% @comments.each do |comment| %>
        <li><%= comment.text %>  by <%= comment.user.name %></li>
      <% end %>
    </ul>
    </div>
  


  <%= form_with model: [@room, @comment], local: true, class: "form-area" do |f|%>
    <%= f.text_area :text %>
    <%= f.submit "送信" %>
  <% end %>
  </div>
</div>